.nav-link{
    text-align: center;
}

#cabecalho {            
    background-color: #fff;
    padding: 10px;            
    border-bottom: 4px solid rgb(231, 222, 222);            
}

section {
    margin-top: 70px;
    margin-bottom: 50px;           
}
section h2{
    padding: 20px;
    margin-bottom: 0;
    padding-bottom:0;
}

#inicio > .container img{
    height: 700px;
}

.img-descricao{
    max-width: 600px;
}

.container-secao{
    display:flex;
}

.container-secao p{
    margin-left: 20px;
    padding: 60px;
}

body {
    background-color: rgb(240, 236, 236);
}

form{
    max-width: 460px;
    margin-top: 10px;
}

form button{
    margin-top: 10px;
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container-secao {
        display: block;
    }

    .container-secao img{
        padding: 40px
    }

    .container-secao p{
        margin-left: 0;
        padding: 0;
        margin-top: 20px;
    }

    .row{
        display: grid;
        grid-template-rows:none;
        grid-template-columns: repeat(2, 49%);
        }

        #inicio > .container img{
            height: 500px;
        }

}

@media screen and (max-width: 640px){
    .container-secao{
        display: block;
        overflow-y: hidden;
    }
    
    #inicio > .container img{
        height: 300px;
    }



}